{
  "plugins": [
    "stylelint-scss",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-order",
    "stylelint-use-logical-spec"
  ],
  "extends": ["stylelint-config-standard-scss", "stylelint-config-recommended-vue", "stylelint-config-idiomatic-order"],
  "customSyntax": "postcss-html",
  "overrides": [
    {
      "files": ["**/*.{scss,css,sass}"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "plugin/declaration-block-no-ignored-properties": true,
    "liberty/use-logical-spec": "always"
  }
}
